/logs/*

.DS_Store
.vscode
.idea
*.so
*.pyc

/VERSION.cache
/bin/
.vscode/
# for faster setup
/vendor/
/build.out
/doc/articles/wiki/*.bin
/goinstall.log
/last-change
/gin-bin
/pkg/
/node_modules
/utils/datadir

# This file includes artifacts of Go build that should not be checked in.
# For files created by specific development environment (e.g. editor),
# use alternative ways to exclude files from git.
# For example, set up .git/info/exclude or use a global .gitignore.
utils/seed-data/accounts.json
utils/seed-data/pairs.json
utils/seed-data/tokens.json
