coingecko_api_url: https://api.coingecko.com/api/v3
coinmarketcap_api_key: a928d4ca-37cc-41b8-a9ea-5a65ae025aa5
coinmarketcap_api_url: https://pro-api.coinmarketcap.com/v1
db_name: tomodex
env: dev
error_file: config/errors.yaml
tomochain:
  exchange_address: 0x0D3ab14BBaD3D99F4203bd7a11aCB94882050E7e
  contract_address: 0x0342d186212b04E69eA682b3bed8e232b6b3361a
  http_url: https://dex.devnet.tomochain.com/xrpc
  ws_url: ws://54.169.177.246:9501
jwt_signing_key: QfCAH04Cob7b71QCqy738vw5XGSnFZ9d
jwt_verification_key: QfCAH04Cob7b71QCqy738vw5XGSnFZ9d
logs:
  engine: ./engine.log
  main: ./main.log
  operator: ./operator.log
mongo_url: 13.251.123.159
rabbitmq_url: amqp://guest:guest@localhost:5672/
server_port: 8080
simulated: false
supported_currencies: ETH,TOMO,BTC,USDT
tick_duration:
  day:
  - 1
  hour:
  - 1
  - 4
  - 12
  min:
  - 1
  - 5
  - 15
  - 30
  month:
  - 1
  - 3
  - 6
  - 9
  week:
  - 1
  year:
  - 1
